.search-container {
  margin: 20px 0;
}
.search-bar {
  display: flex;
  width: 100%;
}
input {
  width: 80%;
  padding: 10px;
}
button {
  width: 20%;
  cursor: pointer;
  background-color: #77bec0;
  border: #77bec0;
}
