input {
  width: 80%;
  padding: 10px;
}
button {
  width: 20%;
  cursor: pointer;
  background-color: #77bec0;
  border: #77bec0;
  font-weight: 600;
  font-size: 16px;
}
.search-container {
  margin: 20px 0;
  position: relative;
}
.search-bar {
  display: flex;
  width: 100%;
}
.search-suggest {
  border: 1px solid #77bec0;
  position: absolute;
  width: 80%;
  height: 200px;
  background-color: white;
  padding: 20px 10px 0px 10px;
  overflow: auto;
}
.todo-search-suggest {
  padding: 10px;
}
